.imgBoard * {
    border: 0px red solid;
  }

  .imgBoard {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .imgBoard .a{
    flex-basis: 100%;
  }

  .imgBoard .b{
    flex-basis: 100%;
  }

  .imgBoard .c{
  }

  .imgBoard .d{
    display: flex;
    flex-wrap: nowrap;
  }

  .imgBoard .d div{
    flex-basis: 50%;
  }

  @media screen and (min-width: 768px) {
    .imgBoard {
      flex-direction: row;
    }
  }

  


  .textOnImage {
    position: relative;
    overflow: hidden;
  }
  
  .textOnImage img {
    width: 100%;
    height: 100%;
    transition: transform 1s;
  }

  /* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_zoom_hover */
  .textOnImage img:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }

  .textOnImage a {
    color: white;
    text-decoration: none;
  }

  .time {
    color: white;
    text-decoration: none;
  }

  .separator {
    color: white;
    text-decoration: none;
  }
  
  .textOnImage .textContent {
    position: absolute;
    bottom: 0;
    
  }

  .textOnImage .textContent p:first-child {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
  }

  .textOnImage .textContent p:nth-child(2) {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
  }